-if @game.errors.any?
  #error_explanation
    %strong= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
    %ol
      - @game.errors.full_messages.each do |msg|
        %li= msg