.navigation{
  margin: 0px 5px 0px auto;
  font-size: 11px;
  padding-bottom: 0px;
  background-color: #fff;
  ul {
    padding: 0;
    margin: 0;
    text-align: right;
  li {
    list-style-type: none
  }

  }
}
.line_one{
  width: 200px;
  height: 20px;
}
.attack_area{
  width: 30px;
  height: 30px;
  border: 1px solid black
}

.enemy_board{
  width: 500px;
  background-color:#618ade;
}