h1{
  font-size: 35px;
  line-height: 130%
}

h2{
  font-size: 20px;
  border-bottom: 1px dashed black;
  line-height: 130%
}

h3{
  font-size: 16px;
  border-bottom: 1px dashed black;
  line-height: 130%
}