body{
  background-color: #618ade;
  font-family: Verdana, Arial, sans-serif;
  text-align: justify;
  font-size: 14px;
  font-size: 90%;
  color: #434343;
  line-height: 130%;
  margin: 0px;
  height: 100%;
}

#access_keys{

  background-color: #618ade;
  text-align: center;

}

#work-area{
  width: 950px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  min-height: 500px;
  margin-bottom: 100px;
  background-color: #fff
}
.work-panel{
}