body {
    background-color: #618ade;
  font-family: Verdana, Arial, sans-serif;
  text-align: justify;
  font-size: 14px;
  font-size: 90%;
  color: #434343;
  line-height: 130%;
  margin: 0px;
  height: 100%; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #0075D4;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }


#access_keys{

  background-color: #618ade;
  text-align: center;

}
#work-area{
  width: 1100px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  min-height: 500px;
  margin-bottom: 100px;
}
.work-panel{

   .corner{
     height: 30px;
     width: 30px
   }
   .top-left-corner{
     background-color: transparent;
     background-image: url(/assets/top-left-corner.png) ;
   }
   .top-right-corner{
     background-color: transparent;
     background-image: url(/assets/top-right-corner.png);
   }
   .top-right-corner-close{
     background-color: transparent;
     background-image: url(/assets/top-right-corner-close.png);
   }
   .bottom-right-corner{
     background-color: transparent;
     background-image: url(/assets/bottom-right-corner.png);
   }
   .bottom-left-corner{
     background-color: transparent;
     background-image: url(/assets/bottom-left-corner.png);
   }


  td.left-side{
    background: #fff;
    background-image: url(/assets/panel_border.png);
    background-position: left;
    background-repeat: repeat-y;}
  td.right-side{
    background: #fff;
    background-image: url(/assets/panel_border.png);
    background-position: right;
    background-repeat: repeat-y;}
  td.top{
    background: #fff;
    background-image: url(/assets/panel_border.png);
    background-position: top;
    background-repeat: repeat-x}
  td.bottom{
    background: #fff;
    background-image: url(/assets/panel_border.png);
    background-position: bottom;
    background-repeat: repeat-x;}
  td.panel-content{
    background: #fff;
    height: 440px;
    padding: 10px;
    vertical-align: top;
    .notice{
      font-size: 0.8em}
    #flash_notice{
      color: green}
    #flash_alert{
      color: red}
  }

}

#lightbox_small{
  zoom: 1;
  z-index: 3;

  top: 150px;
  bottom: 150px;

  left: 50%;
  margin-left: -350px;
  width: 700px;

  position: fixed;

  input[type=text]{
    width: 595px;
  }
  textarea{
    width: 595px;
  }
  #lightbox_top_div{

    #close_lightbox_small {
      height: 30px;
    }
    height: 30px;
  }
  #lightbox_content_small{
    background-color: #fff;
    position: fixed;
    top: 180px;
    bottom: 180px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
    width: 636px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
  }
  #lightbox_bottom_div{
    position: fixed;
    height: 30px;
    bottom: 150px;
    width: 700px;
  }
}

.align_center{
  text-align: center
}
.white{
  background-color: #fff;
  width : 30px;
  height: 30px;
  text-align: center
}
