// Place all the styles related to the ships controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ships_show{
    position: fixed;
    right: 630px;
    top:0px
}