%h2{:style=>"border-bottom:0px;"} Welcome to Battleships
%h3 A Battleships game
%div{:id=>"navigation_public",:class=>"navigation_public"}
  %ul
    %li
      %span.add_something_link= link_to "New Game", new_game_path()













